@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c211c;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: white;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: white;
}
